<ion-header>
  <ion-toolbar>
    <ion-title>Myriopteris wootoni</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/12.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/12-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/12-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
      </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Myriopteris wootoni</div></h2>
    <h3><div class="center">Beaded (Wooton's) lipfern</div></h3>
    </div>
    <div class="disc">
      Description-Triangular right green tripinnate leaves, smooth and hairless above, with overlapping brown scales below. Often in dense clusters or stands, sun or part shade beside granite boulders or among shrubs. Pinnae not articulate. Leaves usually larger than other bead ferns. Leaflet segments more rounded and crowded than C. fendleri.
    </div>
    <br>
    <div class="disc">
      Spores-Sori (clusters of spore-cases) line the edge of the leaflets, protected by a false indusia formed by the curled-under edge of the leaflet.
    </div>
    <br>
    <div class="disc">
      Habitat-Found on rocky slopes and along ledges, from 3,000-9,500 ft
    </div>
    <br>
    <div class="disc">
      Range-se CA, s NV, and s UT, east through AZ and NM to se CO, w OK, and w TX; south to n MEX.
  </div>
  <br>
  <div class="disc">
    Entymology-Myriopteris is from the Greek words myrios, or myriad, and pteris, fern, because the frond is divided into so many leaflets; wootonii is named for American botanist Elmer Otis Wooton (1865-1945), former curator of the National Herbarium.
  </div>
  <br>
</ion-content>
