<ion-header>
  <ion-toolbar>
    <ion-title>Astrolepis sinuata</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/5.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/5-1.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
    </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Astrolepis sinuata</div></h2>
    <h3><div class="center">Wavy Cloak fern</div></h3>
    </div>
    <div class="disc">
      Description - Leaves large, robust, arched or spreading. Right green, cinnamon brown when dry. Leaflets have seven or more distinct rounded lobes that are all the same size and shape. Young leaflets are dotted with white scales on the upper surface, white to tan or brownish scales on underside. Once-pinnate leaves with lobed pinnae, dense scales covering pinnae under-surfaces and dense to sparse stellate scales on the upper surfaces. This species is one of the two larger, more robust Astrolepis species (the other is A. windhamii) and is distinguished by the larger, symmetrically-lobed pinnae.
    </div>
    <br>
    <div class="disc">
      Spores - sori and sporangia mostly or completely hidden by scales, sori rounded or oblong and borne submarginally at tips of veins. Sporulating summer into fall.
    </div>
    <br>
    <div class="disc">
      Habitat -  dry rocky hillsides and along canyon walls and in crevices from 2,500-7,000 ft.
    </div>
    <br>
    <div class="disc">
      Range - AZ , GA , NM , OK , TX
  </div>
  <br>
</ion-content>
