<ion-header>
  <ion-toolbar>
    <ion-title>Notholaena standleyi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/15.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/15-1.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
      </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Notholaena standleyi</div></h2>
    <h3><div class="center">Star Cloak fern</div></h3>
    </div>
    <div class="disc">
      Description-Leaves tripinnate, dark green, leathery, long-stemmed, in tight clusters. Leaves obviously star-shaped, leaflets triangular and pointed. Upper surface of new leaves dotted with white farina grains, older leaves smooth and shining. Underside densely coated with pale yellow farina. Dry leaves tan to pale brown, curl up with underside exposed. Most star-like of all ferns, leaflets broader and more triangular than other star ferns.
    </div>
    <br>
    <div class="disc">
      Spores-Sori (clusters of spore-cases) dark brown, lining the margins on the underside of the leaf; partially protected by a false indusia formed by the curled-under margin of the leaf.
    </div>
    <br>
    <div class="disc">
      Habitat-Shade to part sun in sheltered cracks on limestone, granite, limestone outcrops. 1,000-6,500 ft
    </div>
    <br>
    <div class="disc">
      Range-AZ, NM, se CO, w TX, w OK
  </div>
  <br>
</ion-content>
