ion-slides{
    ion-slide{
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

.disc {
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

.center {
  display: flex;
  justify-content: center;
}