<ion-header>
  <ion-toolbar>
    <ion-title>Astrolepis integerrima</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/6.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/6-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/6-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
    </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Astrolepis integerrima</div></h2>
    <h3><div class="center">Hybrid Cloak fern</div></h3>
    </div>
    <div class="disc">
      Description - Leaves erect, tightly clustered to slightly spreading, bring green to dark green, pale tan when dry. Leaflets variable in shape, even on a single leaf, and may be oval, elongate, r triangular. They have several shallow, uneven lobes. Dense, soft silvery0white scales cover the upper surface, even on older leaves. Shaggy overlapping light brown sales cover the underside.Evergreen fern with compact congested stems with scales uniformly tan or darker near base. Blade once pinnate, with 20-45 pinna pairs; oblong to ovate pinnae, entire or asymmetrically lobed with 2-7 lobes. Ciliate with coarse marginal projections.
      Distinguishing characters for the genus are once-pinnate leaves with lobed pinnae, dense scales covering pinnae surfaces underneath and dense to sparse stellate scales on the upper surfaces. This species thought to be derived from hybridization between A. cochisensis and A. sinuata.      
    </div>
    <br>
    <div class="disc">
      Spores - sporulates summer-fall.
    </div>
    <br>
    <div class="disc">
      Habitat - Rocky hillsides and cliffs; usually on limestone or other calcareous substrates.
    </div>
    <br>
    <div class="disc">
      Range - Ariz., Nev., N.Mex., Okla., Tex.; n,c Mexico
  </div>
  <br>
</ion-content>
