<ion-header>
  <ion-toolbar>
    <ion-title>Bommeria hispida</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/7.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/7-1.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" id="legendButton" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
    </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Bommeria hispida</div></h2>
    <h3><div class="center">Copper fern</div></h3>
    </div>
    <div class="disc">
      Description - Leaves are green underneath, without any coating. Hairy on both sides. Hairs are brown on mature leaves, white on younger ones. Old leaves may turn reddish brown. Dry leaves are yellowish or purplish brown and curl down with upper surface exposed. Stems long-creeping and often branched.Leaves monomorphic, scattered. Distinguished by 3-pinnate, pentagonal blades due to enlarged basal pinnae that are angled downward; the top surface of blades have short, straight hairs on the bottoms are crowded with curly hairs; the bottom surfaces also lack white or yellow small grains. NO OTHER “STAR FERN” IN OUR AREA HAS HAIRY LEAVES.
    </div>
    <br>
    <div class="disc">
      Spores - sporulating summer-fall. Covering two-thirds to three-quarters from margin of blade to mid-vein of each ultimate segment.
    </div>
    <br>
    <div class="disc">
      Habitat - Found at bases of large boulders on dry to moist slopes, occasionally forming large mats from 3,500-8,500 ft.
    </div>
    <br>
    <div class="disc">
      Range - AZ , NM , TX. Only member of the genus to occur north of Mexico.
  </div>
  <br>
</ion-content>
