<ion-header>
  <ion-toolbar>
    <ion-title>Myriopteris lindheimeri</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/10.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/10-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/10-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
      </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Myriopteris lindheimeri</div></h2>
    <h3><div class="center">Fairy Swords</div></h3>
    </div>
    <div class="disc">
      Description - rounded above; blade oblong-lanceolate to ovate-deltate, Broad triangular grayish-green tripinnate leaves have a rough sandpapery feel. Leaflets covered in coarse dense white hair on top, tan hair underneath with light brown sales on veins.
    </div>
    <br>
    <div class="disc">
      Spores -False indusia marginal, weakly differentiated.sporulating summer-fall
    </div>
    <br>
    <div class="disc">
      Habitat - rocky slopes and ledges, on a variety of acidic to mildly basic substrates from 1,000-8,500 ft
    </div>
    <br>
    <div class="disc">
      Range - Ariz., N.Mex., Tex.; Mexico
  </div>
  <br>
</ion-content>
