<ion-header>
  <ion-toolbar>
    <ion-title>Myriopteris aurea</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/8.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/8-1.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
    </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Myriopteris aurea</div></h2>
    <h3><div class="center">Golden Cloak Fern</div></h3>
    </div>
    <div class="disc">
      Description - <strong style="color:green">abaxial surface of is covered in dense white hairs. Pinnae appear to have a short petiole, though technically the pinna is simply articulate.</strong> Leaf is only modestly dissected into lobed pinnae, which are hairy both above and below. Distinguished from the other Cheilanthes by the scalloped appearance of the blades, rather than having a beadlike appearance, as well as the distinctive dull green above and dense yellowish hairs below.
    </div>
    <br>
    <div class="disc">
      Spores - sori continuous around margin, partly hidden by dense hairs. sporulates summer-fall.
    </div>
    <br>
    <div class="disc">
      Habitat - dry ledges and rocky slopes, on a variety of substrates from 4,000-7,000 ft
    </div>
    <br>
    <div class="disc">
      Range - Ariz., N.Mex., Tex.; Mexico; West Indies; Central America; South America
  </div>
  <br>
</ion-content>
