<ion-header>
  <ion-toolbar>
    <ion-title>Astrolepis cochisensis</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/4.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/4-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/4-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
    </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Astrolepis cochisensis</div></h2>
    <h3><div class="center">Narrow (Cochise Scaly) Cloak fern</div></h3>
    </div>
    <div class="disc">
      Description - Very narrow bluish or grayish green leaves in arched, open sprays. Leaflets oval to nearly circular, 0-3 shallow loves. Upper surface speckled with persistent white scales. Small felted brown-dotted white scales on underside.Leaves 2.8 to 16 in long, divided into 20 to 50 pairs of pinnae which are sometimes lobed.Pinnae are oblong, the largest specimens 0.2 to 0.3 in long. Some lack lobes altogether; others bear 1 to 4 lobes, asymmetrically arranged on the pinna. The lobes are broadly rounded, and the indentations between them are shallow. Pinnae with star-shaped scales on the upper surface and hairy lance-shaped scales beneath. Scales tan or somewhat darker near base.Some good characters to separate it are the fuzzy, rounded leaflets, which are not in-rolled.
    </div>
    <br>
    <div class="disc">
      Spores - Sori rounded or oblong, born submarginally at tips of veins, often confluent, sporangia concealed or obscured by scales.
    </div>
    <br>
    <div class="disc">
      Habitat - Rocky hillsides, on canyon walls, under rocks and along the edge of boulders from 1,000-7,000 ft.
    </div>
    <br>
    <div class="disc">
      Range -
  </div>
  <br>
</ion-content>
