<ion-header>
  <ion-toolbar>
    <ion-title>Dryopteris filix-mas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/3.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/3-1.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
    </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Dryopteris filix-mas</div></h2>
    <h3><div class="center">Male fern</div></h3>
    </div>
    <div class="disc">
      Description - semi-evergreen, up to 60 inches tall. Bi-pinnate leaves with 20-30 pinnae on each side. Tapers at both ends with basal pinnules approx ½ the length of middle pinnae. Pinnules are blunt and equally lobed. Rachis covered with orange-brown scales.
    </div>
    <br>
    <div class="disc">
      Spores - ripen Aug-Nov. 5-6 sori develop in 2 rows.
    </div>
    <br>
    <div class="disc">
      Habitat - damp, shaded areas in the understory of woodlands, shady rocks, gedge-banks, scree
    </div>
    <br>
    <div class="disc">
      Range - northern hemisphere
  </div>
  <br>
</ion-content>
