<ion-header>
  <ion-toolbar>
    <ion-title>Myriopteris writghtii</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/13.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/13-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/13-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
      </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Myriopteris writghtii</div></h2>
    <h3><div class="center">Wright’s lipfern</div></h3>
    </div>
    <div class="disc">
      Description-Leaves bright green, tripinnate. Leaflets smooth on both sides, stem smooth, without scales or hairs. Leaves often die back completely in the fall. New growth appears inJuly with monsoon rain. Distinguished by the grooved and glabrous rachis and the glabrous pinnae (on both sides), which lack costal scales.
    </div>
    <br>
    <div class="disc">
      Spores-False indusia marginal. Sori discontinuous, concentrated on interrupted lateral lobes.Sporulating summer--fall.
    </div>
    <br>
    <div class="disc">
      Habitat-Full sun on granite or other igneous rock. Prefers flat areas with fine gravel and healthy soil crust.1,000-6,500 ft
    </div>
    <br>
    <div class="disc">
      Range-
  </div>
  <br>
</ion-content>
