<ion-header>
  <ion-toolbar>
    <ion-title>Pentagramma triangularis ssp. maxonii</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/18.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/18-1.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
      </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Pentagramma triangularis ssp. maxonii</div></h2>
    <h3><div class="center">Goldback fern</div></h3>
    </div>
    <div class="disc">
      Description-Leaves star-shaped or broadly triangular, smooth, light green, tripinnate with rounded leaflets. Underside white or pale yellow. Dry leaves dark purplish brown, curl down with upper surface exposed. Thin, bare leaves are the least adapted to desert conditions of any desert fern. Pay attention to the way the sporangia is borne along the veins to distinguish this from the similar Bommeria hispida, along with the coarse hairs on the upper surface of B. hispida.
    </div>
    <br>
    <div class="disc">
      Spores-Borne along veins, spores tan to brown, trigonal, coarsely tuberculate.
    </div>
    <br>
    <div class="disc">
      Habitat-Damp shade sandy soil in cracks or under overhangs in canyon walls, 500-8,500 ft
    </div>
    <br>
    <div class="disc">
      Range-
  </div>
  <br>
</ion-content>
