<ion-header>
  <ion-toolbar>
    <ion-title>Pelaea truncata</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/16.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/16-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/16-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
      </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Pelaea truncata</div></h2>
    <h3><div class="center">Spiny Cliffbreak</div></h3>
    </div>
    <div class="disc">
      Description-Leaves erect, tightly clustered, shrubby, grayish-green, triangular, tripinnate near base, pinnate near tip. The Pinnate leaflets may be missing onolder leaves, leaving the stem tip bare. Leaflets oval, broad on sterile leaves and narrow on fertile leaves, with a tiny spine at the tip of each leaflet. Most common.Distinguished by the dark, shiny petioles and rachises; the bicolored stem (at the base) scales with a black center and brown margins; and the 2-3 times pinnate leaves with the largest pinnae with 11 or more segments.
    </div>
    <br>
    <div class="disc">
      Spores-Long-stalked, containing 64 spores intermixed with abundant flour-producing glands, sori obscured and dull brownish.
    </div>
    <br>
    <div class="disc">
      Habitat-Granite and rhyolite, on cliffs and among rocks.2,000-8,000 ft
    </div>
    <br>
    <div class="disc">
      Range-
  </div>
  <br>
</ion-content>
