<ion-header>
  <ion-toolbar>
    <ion-title>Pellea wrightiana</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/17.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/17-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/17-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
      </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Pellea wrightiana</div></h2>
    <h3><div class="center">Wright's Cliffbreak</div></h3>
    </div>
    <div class="disc">
      Description-Leaves dark green to bluish green, long and arrow, with shining purple stem. Lower leaflets form clusters of five or more (truly bipinnate) and plants may be shrubby.
    </div>
    <br>
    <div class="disc">
      Spores-sori concealed beneath the reflexed margins.
    </div>
    <br>
    <div class="disc">
      Habitat-Full sun, rocky slopes and cliffs, 3,000-8,000 ft
    </div>
    <br>
    <div class="disc">
      Range-
  </div>
  <br>
</ion-content>
