<ion-header>
  <ion-toolbar>
    <ion-title>Myriopteris fendleri</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <img src="assets/img/9.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/9-1.jpg">
    </ion-slide>
    <ion-slide>
      <img src="assets/img/9-2.jpg">
    </ion-slide>
  </ion-slides>
      <ion-row>
        <ion-col id="legRow0">
          <ion-row id="legCol0">
          </ion-row>
      </ion-col>
      </ion-row>
      <div class="center">
      <ion-fab>
        <ion-fab-button size="small" (click)="legendAdd()">+</ion-fab-button>
      </ion-fab>
    </div>
  <br>
  <br>
  <br>
  <div>
    <h2><div class="center">Myriopteris fendleri</div></h2>
    <h3><div class="center">Fendler’s lipfern</div></h3>
    </div>
    <div class="disc">
      Description -scales mostly uniformly brown, ovate-lanceolate, straight to slightly contorted, often deciduous on older portions of stem. Light green tripinnate leaves with beadlike leaflets, green to brown stems. Upper side of leaflets smooth, underside has overlapping triangular colorless to light brown scales that do not have dark stripes.
      Distinguished from C. pringlei when young by having rachises that are rounded above, not grooved and blade bracts not ciliate. Known to hybridize with both C. wootonii and C. covillei
    </div>
    <br>
    <div class="disc">
      Spores - sori continuous around segment margins, sporulating summer and fall
    </div>
    <br>
    <div class="disc">
      Habitat - Rocky slopes and ledges; found on a variety of acidic and mildly basic substrates; 3,000-10,000ft
    </div>
    <br>
    <div class="disc">
      Range - Ariz., Colo., N.Mex., Tex.; n Mexico
  </div>
  <br>
</ion-content>
